<div id="like_button_<%= post.id %>">
  <% if logged_in? %>
    <% if current_user.likes.find_by(post_id: post.id) %>
      <%= button_to 'Unlike', like_path(current_user.likes.find_by(post_id: post.id)), method: :delete, remote: true, class: 'bg-red-500 text-white py-2 px-4 rounded-lg' %>
    <% else %>
      <%= button_to 'Like', likes_path(post_id: post.id), method: :post, remote: true, class: 'bg-blue-500 text-white py-2 px-4 rounded-lg' %>
    <% end %>
  <% end %>
</div>