<header class="bg-blue-500 p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <%= link_to 'Top', root_path, class: "text-white font-semibold" %>
    <div>
      <%= link_to 'Sign Up', new_session_path, class: "text-white mx-2" %>
      <%= link_to 'Login', new_user_path, class: "text-white mx-2" %>
    </div>
  </nav>
</header>
